html,body {
    font-family:"Times New Roman",serif;
}

a{
    text-decoration: none;
}

#navbar{
    /*width:100%;*/
    text-decoration-line: none;
    background-color:lightblue;
    position:sticky;
    padding: 10px 10px 10px 0;
    overflow:scroll;


}

img{
    width:75%;
    max-width:400px;
}

#rcolumn{
    min-width:150px;
}



.links{
    justify-content: center;
}
.nav-link{
    padding:10px 20px 10px 0px;
    justify-content:flex-start;
    font-size:1.5em;

    color:black;
}

.nav-link:hover{
    color:grey;
    border-left: solid thin;
}

#main{
    margin:0px 200px 0px;
    text-align: center;
}

@media screen and (max-width: 900px){
    #main{
        margin:0px 100px 0px;
    }
}

@media screen and (max-width: 700px){
    #main{
        margin:auto;
    }

}

