

#wrapper{
    width:100%;
    height:100%;
    display:table;
    margin:auto;
}

#wrapper .column{
    display:table-cell;
}

#main{
    width:75%;
    text-align:center;
    padding-left:0;
}

#chat {
    min-width: 200px;
    border: solid thin;
    overflow: scroll;
    padding: 10px;
}

@media screen and (max-width: 600px){
    #chat{
        display: block;
    }
}


#credit{
    text-align:center;
}


#previousMessages{
    list-style-type:none;
}